In [ ]:
#ciclo para 5
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
#ciclo para 6
for x in range(1,10):
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
#ciclo para 7
for x in range(1,50,3):
  print(x)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [ ]:
#ciclo 8
#ciclo para 6
inicio=int(input("inicio : "))
fin=int(input("fin: "))
incremento=int(input("inremento: "))
for x in range(inicio,fin,incremento):
  print(x)

inicio : 17
fin: 20
inremento: 1
17
18
19

In [ ]:
#tabla de ultiplicae de un numero 
tabla= int(input("que tabaldesea: "))
for x in range(10):
  mult= tabla* x
  print("la respuesta es: ",mult)

que tabaldesea: 7
la respuesta es:  0
la respuesta es:  7
la respuesta es:  14
la respuesta es:  21
la respuesta es:  28
la respuesta es:  35
la respuesta es:  42
la respuesta es:  49
la respuesta es:  56
la respuesta es:  63

In [ ]:
#tabla de ultiplicae de un numero 
tabla= int(input("que tabaldesea: "))
for x in range(1,11):
  mult= tabla* x
  print("la respuesta es: 7 x",mult)

que tabaldesea: 7
la respuesta es: 7 x 7
la respuesta es: 7 x 14
la respuesta es: 7 x 21
la respuesta es: 7 x 28
la respuesta es: 7 x 35
la respuesta es: 7 x 42
la respuesta es: 7 x 49
la respuesta es: 7 x 56
la respuesta es: 7 x 63
la respuesta es: 7 x 70

In [ ]:
#tabla de multiplicar de un numero 
tabla= int(input("que tabaldesea: "))
for x in range(1,11):
  mult= tabla* x
  print(str(tabla)+"x"+str(x)+"="+str(mult))

que tabaldesea: 9
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90